*.pbxproj -text

###############################################################################
# Ignore platform sources
###############################################################################
android/* linguist-vendored
ios/* linguist-vendored