source https://nuget.org/api/v2

storage:none

nuget FSharp.Core redirects: force
nuget Fable.Core

nuget Fable.PowerPack
nuget Fable.React
nuget Fable.React.Native prerelease
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR 3.2.0
nuget Fable.Import.Browser

source https://nuget.org/api/v2
nuget FAKE < 5

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
clitool dotnet-xunit

github y2k/EffectsResearch:c8bbb2badde617ea9e0bf22f08ce6946711d1be1 Effects/EffectsReactNative.fs
