source https://nuget.org/api/v2

storage:none

nuget FSharp.Core ~> 4.7 redirects: force
nuget Fable.Core

nuget Fable.PowerPack
nuget Fable.React
nuget Fable.React.Native prerelease
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Fable.Import.Browser
nuget Fable.Promise
nuget Fable.Fetch
nuget Fable.Browser.XMLHttpRequest
nuget Fable.Browser.Dom

source https://nuget.org/api/v2
nuget FAKE < 5

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
clitool dotnet-xunit

source https://www.myget.org/F/y2k/api/v3/index.json
nuget Prelude ~> 0.2.2
